* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #333;
  color: #fff; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #333;
  color: #fff;
}

.container {
  padding: 0 1rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* tr > th {
  text-align: center;
}
 
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #545454;
} */

.search {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end ;
  padding-bottom: 1rem;
}

input[type='text'] {
  display: block;
  padding: 7px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  margin: auto;
}
/* .container {
  padding: 0 1rem;
} */
